In [1]:
from pykrx import stock
import pandas as pd
import datetime

# 1. 종목별 ohlcv 값 가져오기

In [2]:
# today = datetime.datetime.now().strftime("%Y%m%d")
today = "20220819"

In [3]:
# 2022년 8월 17일 코스피 종목별 ohlcv 값 가져오기
kospi_df = stock.get_market_ohlcv(date=today, market="KOSPI")
kospi_df

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    8250    8430    8240    8390   211876   1768705470  3.45
006840   16600   16750   16400   16450     6422    105721200 -0.90
027410    4295    4295    4235    4245    60579    258893680 -0.59
282330  173000  173500  169000  171500    29174   4990237500 -1.72
138930    6810    6860    6780    6850   854678   5828960860  0.29
...        ...     ...     ...     ...      ...          ...   ...
005010    6130    6610    6050    6500  3210272  20393594890  5.69
000540    3510    3550    3500    3515    20997     73758115 -0.71
000547   21950   22800   21850   22100     1269     27749400  1.38
000545    7230    7280    7220    7280      604      4364050 -1.22
003280    1835    1845    1815    1820   193647    354305105 -0.82

[938 rows x 7 columns]

In [4]:
kosdaq_df = stock.get_market_ohlcv(date=today, market="KOSDAQ")
kosdaq_df

           시가     고가     저가     종가     거래량        거래대금   등락률
티커
060310   2900   3000   2880   2885  711816  2079534360 -0.17
054620  11850  11850  11350  11650   48157   555050050 -0.43
265520  18750  19000  18600  18700   85257  1605832650 -0.27
211270  12150  12150  11700  11700  134979  1598189100 -2.90
032790      0      0      0   4075       0           0  0.00
...       ...    ...    ...    ...     ...         ...   ...
024060   6420   6430   6350   6410   79506   508190590  0.00
010240   6970   7070   6900   6940   38389   268246340 -0.43
189980   3495   3515   3425   3435  337288  1165514870 -1.29
037440   9100   9160   8660   8660  938008  8372620670 -4.10
238490   7690   7690   7480   7480    9111    68567370 -2.22

[1578 rows x 7 columns]

# 2. 티커 값에 따른 종목명 확인

In [5]:
stock.get_market_ticker_name("054620")

'APS홀딩스'

In [6]:
kospi_df.reset_index(inplace=True)
kospi_df["종목명"] = kospi_df["티커"].apply(lambda x: stock.get_market_ticker_name(x))
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
0,095570,8250,8430,8240,8390,211876,1768705470,3.45,AJ네트웍스
1,006840,16600,16750,16400,16450,6422,105721200,-0.90,AK홀딩스
2,027410,4295,4295,4235,4245,60579,258893680,-0.59,BGF
3,282330,173000,173500,169000,171500,29174,4990237500,-1.72,BGF리테일
4,138930,6810,6860,6780,6850,854678,5828960860,0.29,BNK금융지주
...,...,...,...,...,...,...,...,...,...
933,005010,6130,6610,6050,6500,3210272,20393594890,5.69,휴스틸
934,000540,3510,3550,3500,3515,20997,73758115,-0.71,흥국화재
935,000547,21950,22800,21850,22100,1269,27749400,1.38,흥국화재2우B
936,000545,7230,7280,7220,7280,604,4364050,-1.22,흥국화재우
937,003280,1835,1845,1815,1820,193647,354305105,-0.82,흥아해운

In [7]:
kosdaq_df.reset_index(inplace=True)
kosdaq_df["종목명"] = kosdaq_df["티커"].apply(lambda x: stock.get_market_ticker_name(x))
kosdaq_df

          티커     시가     고가     저가     종가     거래량        거래대금   등락률     종목명
0     060310   2900   3000   2880   2885  711816  2079534360 -0.17      3S
1     054620  11850  11850  11350  11650   48157   555050050 -0.43  APS홀딩스
2     265520  18750  19000  18600  18700   85257  1605832650 -0.27   AP시스템
3     211270  12150  12150  11700  11700  134979  1598189100 -2.90    AP위성
4     032790      0      0      0   4075       0           0  0.00    BNGT
...      ...    ...    ...    ...    ...     ...         ...   ...     ...
1573  024060   6420   6430   6350   6410   79506   508190590  0.00    흥구석유
1574  010240   6970   7070   6900   6940   38389   268246340 -0.43      흥국
1575  189980   3495   3515   3425   3435  337288  1165514870 -1.29  흥국에프엔비
1576  037440   9100   9160   8660   8660  938008  8372620670 -4.10      희림
1577  238490   7690   7690   7480   7480    9111    68567370 -2.22      힘스

[1578 rows x 9 columns]

# 3. 등락률 기준 상위 10종목

In [8]:
kospi_df = kospi_df.sort_values(by="등락률", ascending=False)[:10]
kospi_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
246,008110,15400,18750,14850,18750,11525541,199756911200,29.76,대동전자
510,134790,50200,63400,49850,60000,533617,31253348400,19.52,시디즈
152,100840,19250,22700,19000,20850,1880661,40100417500,10.32,SNT에너지
66,092220,2795,3045,2795,2920,30805818,90548924810,8.55,KEC
272,000300,960,1110,960,1050,10073051,10518273527,8.36,대유플러스
919,010660,3450,3700,3330,3460,4933822,17265041925,7.62,화천기계
701,033250,1200,1340,1135,1150,11483023,14338181945,6.48,체시스
773,047050,25350,27050,25150,26750,2813963,74363937650,6.36,포스코인터내셔널
69,033180,1700,1760,1545,1555,13165915,21504790745,6.14,KH 필룩스
933,005010,6130,6610,6050,6500,3210272,20393594890,5.69,휴스틸

# 4. 등락률 10% 이상 종목 추출

In [9]:
kospi_df = kospi_df[kospi_df["등락률"] > 10]
kospi_df

         티커     시가     고가     저가     종가       거래량          거래대금    등락률     종목명
246  008110  15400  18750  14850  18750  11525541  199756911200  29.76    대동전자
510  134790  50200  63400  49850  60000    533617   31253348400  19.52     시디즈
152  100840  19250  22700  19000  20850   1880661   40100417500  10.32  SNT에너지

# 5. 거래대금 1000억 이상 종목 추출

In [10]:
kospi_df = kospi_df[kospi_df["거래대금"] > 100000000000]
kospi_df

         티커     시가     고가     저가     종가       거래량          거래대금    등락률   종목명
246  008110  15400  18750  14850  18750  11525541  199756911200  29.76  대동전자

In [11]:
kosdaq_df = kosdaq_df[(kosdaq_df["거래대금"] > 100000000000) & (kosdaq_df["등락률"] > 0)]
kosdaq_df

,티커,시가,고가,저가,종가,거래량,거래대금,등락률,종목명
341,084650,7180,9290,7000,8900,28165590,245153527810,24.129999,랩지노믹스
569,365340,102500,106600,95000,96300,1046774,105002533800,0.520000,성일하이텍
1056,263050,6860,8270,6750,7620,22257173,171386518250,14.930000,유틸렉스
1461,376180,70400,82300,70400,77100,1612783,125707098300,7.830000,피코그램

# 6. 종목별 펀더멘털 조회

In [12]:
fundamental_df = stock.get_market_fundamental(today)
fundamental_df

          BPS    PER   PBR   EPS   DIV   DPS
티커
095570   8075   4.92  1.04  1707  3.22   270
006840  45961   0.00  0.36     0  1.22   200
027410  16393   6.21  0.26   684  2.59   110
282330  46849  20.07  3.66  8547  1.75  3000
138930  28745   2.93  0.24  2341  8.18   560
...       ...    ...   ...   ...   ...   ...
005010  15984   6.59  0.41   987  2.46   160
000540  10599   4.03  0.33   873  0.00     0
000547      0   0.00  0.00     0  0.00     0
000545      0   0.00  0.00     0  0.00     0
003280    428  15.42  4.25   118  0.00     0

[910 rows x 6 columns]

In [13]:
# 저PBR
fundamental_df = fundamental_df.sort_values(by="PBR", ascending=True)
fundamental_df

          BPS     PER    PBR   EPS    DIV   DPS
티커
009155      0    0.00   0.00     0   2.77  2150
005945      0    0.00   0.00     0  11.00  1100
090355      0    0.00   0.00     0   1.69   280
000325      0    0.00   0.00     0   2.19   455
005387      0    0.00   0.00     0   5.63  5100
...       ...     ...    ...   ...    ...   ...
373220  39831  112.79  11.22  3963   0.00     0
207940  74551  147.64  11.64  5879   0.00     0
005690   1090   82.08  11.97   159   0.00     0
326030   5672   92.87  13.56   828   0.00     0
032350    811    0.00  14.36     0   0.00     0

[910 rows x 6 columns]

# 7. 거래대금 조회

In [20]:
df = stock.get_market_trading_value_by_date("20220815", "20220819", "005930")
df.head()

                   기관합계         기타법인            개인         외국인합계  전체
날짜
2022-08-16   1998182900  10773801100  -85793719600   73021735600   0
2022-08-17 -10587971300 -11434149000   47701220800  -25679100500   0
2022-08-18 -82091760700  -7159021100 -180930930500  270181712300   0
2022-08-19 -20752536900   1214172700   38513419800  -18975055600   0

In [21]:
df = stock.get_market_trading_value_by_investor("20220815", "20220819", "005930")
df.head()

                 매도            매수          순매수
투자자구분
금융투자   285774117500  257403029100 -28371088400
보험       8484852400   17362180600   8877328200
투신      22241976700   26377520100   4135543400
사모       3334420400   59228292900  55893872500
은행       2936830400    1726814500  -1210015900

# 8. 투자자별 순매수 상위종목

In [28]:
# 금융투자 / 보험 / 투신 / 사모 / 은행 / 기타금융 / 연기금 / 기관합계 / 기타법인 / 개인 / 외국인 / 기타외국인 / 전체

df = stock.get_market_net_purchases_of_equities("20220819", "20220819", "KOSDAQ", "연기금")
df[df["순매수거래대금"] > 1000000000]

             종목명  매도거래량   매수거래량  순매수거래량     매도거래대금      매수거래대금     순매수거래대금
티커
090460      비에이치   1222  149590  148368   35482250  4348380600  4312898350
086520      에코프로   1703   24987   23284  198474900  2975422100  2776947200
091990  셀트리온헬스케어   9690   33754   24064  727515800  2539541300  1812025500
278280        천보   1775    8222    6447  436582800  2019865100  1583282300
013030    하이록코리아    317   50498   50181    8201000  1289495500  1281294500
290670    대보마그네틱      0   20403   20403          0  1144374200  1144374200

# 9. 인덱스 조회

In [14]:
tickers = stock.get_index_ticker_list()
tickers

['1001',
 '1002',
 '1003',
 '1004',
 '1005',
 '1006',
 '1007',
 '1008',
 '1009',
 '1010',
 '1011',
 '1012',
 '1013',
 '1014',
 '1015',
 '1016',
 '1017',
 '1018',
 '1019',
 '1020',
 '1021',
 '1022',
 '1024',
 '1025',
 '1026',
 '1027',
 '1028',
 '1034',
 '1035',
 '1150',
 '1151',
 '1152',
 '1153',
 '1154',
 '1155',
 '1156',
 '1157',
 '1158',
 '1159',
 '1160',
 '1167',
 '1182',
 '1224',
 '1227',
 '1232',
 '1244',
 '1894']

In [15]:
for ticker in stock.get_index_ticker_list():
    print(ticker, stock.get_index_ticker_name(ticker))

1001 코스피
1002 코스피 대형주
1003 코스피 중형주
1004 코스피 소형주
1005 음식료품
1006 섬유의복
1007 종이목재
1008 화학
1009 의약품
1010 비금속광물
1011 철강금속
1012 기계
1013 전기전자
1014 의료정밀
1015 운수장비
1016 유통업
1017 전기가스업
1018 건설업
1019 운수창고업
1020 통신업
1021 금융업
1022
1024 증권
1025 보험
1026 서비스업
1027 제조업
1028 코스피 200
1034 코스피 100
1035 코스피 50
1150 코스피 200 커뮤니케이션서비스
1151 코스피 200 건설
1152 코스피 200 중공업
1153 코스피 200 철강/소재
1154 코스피 200 에너지/화학
1155 코스피 200 정보기술
1156 코스피 200 금융
1157 코스피 200 생활소비재
1158 코스피 200 경기소비재
1159 코스피 200 산업재
1160 코스피 200 헬스케어
1167 코스피 200 중소형주
1182 코스피 200 초대형제외 지수
1224 코스피 200 비중상한 30%
1227 코스피 200 비중상한 25%
1232 코스피 200 비중상한 20%
1244 코스피200제외 코스피지수
1894 코스피 200 TOP 10

In [17]:
pdf = stock.get_index_portfolio_deposit_file("1005")

In [18]:
len(pdf)

36

In [19]:
for i in pdf:
    print(stock.get_market_ticker_name(i))

CJ제일제당
오리온
하이트진로
농심
오뚜기
롯데칠성
롯데제과
삼양식품
대상
SPC삼립
동원F&B
풀무원
빙그레
삼양사
대한제당
남양유업
선진
대한제분
사조대림
해태제과식품
사조동아원
팜스코
무학
샘표식품
고려산업
CJ씨푸드
크라운제과
조흥
사조씨푸드
보해양조
서울식품
마니커
사조오양
우성
MH에탄올
한성기업

In [22]:
df = stock.get_index_price_change("20220822", "20220822", "KOSPI")
df

                         시가        종가       등락률        거래량           거래대금
지수명
코스피                 2492.69   2462.50 -1.209961  422552201  6108018866782
코스피 200              326.79    322.77 -1.230469   93521614  4321199008536
코스피 100             2456.87   2426.65 -1.230469   59158746  3490661376297
코스피 50              2232.88   2205.22 -1.240234   35553741  2732972787437
코스피 200 중소형주        1205.03   1190.53 -1.200195   34362868   830537632239
코스피 200 초대형제외 지수     244.97    242.18 -1.139648   85261749  3825466742436
코스피200제외 코스피지수      3236.75   3189.89 -1.450195  321981193  1590384284330
코스피 200 커뮤니케이션서비스   2109.23   2091.59 -0.839844    4630505   350250720300
코스피 200 건설           271.78    271.63 -0.059998    6073139   256197930300
코스피 200 중공업          309.03    307.09 -0.629883   12204399   261036955880
코스피 200 철강/소재        819.97    809.74 -1.250000    2402223   145085735458
코스피 200 에너지/화학      1699.01   1692.29 -0.399902    9330510   592945818750
코스피 200 정보기술        2965.54   2899.76 -2.220703   16091009  1122263160639
코스피 200 금융           600.15    591.39 -1.459961   14041819   354214998410
코스피 200 생활소비재        894.25    887.71 -0.729980    3234105   191158046080
코스피 200 경기소비재       1551.96   1540.73 -0.720215    6084007   368457600439
코스피 200 산업재          634.31    629.49 -0.759766   17194034   479873010030
코스피 200 헬스케어        1944.20   1911.96 -1.660156    2235864   199715032250
음식료품                3933.79   3893.97 -1.009766   39394593   199698161417
섬유의복                 426.35    418.39 -1.870117    6505365    31304345226
종이목재                 364.09    357.32 -1.860352    4580919    14267752325
화학                  5620.44   5598.43 -0.389893   88226536   878885613713
의약품                15534.07  15267.86 -1.709961   10262375   258185668253
비금속광물               2602.65   2604.52  0.070007   13681460   189720425888
철강금속                4396.39   4320.09 -1.740234   32441677   251163517001
기계                  1059.42   1052.65 -0.640137   41307308   255581310669
전기전자               23661.25  23294.90 -1.549805   46526803  1434180136334
의료정밀                2367.04   2332.33 -1.469727    1186949    34057316880
운수장비                2061.36   2048.49 -0.620117   20622991   520135147660
유통업                  354.45    353.24 -0.340088   20085642   271574489986
전기가스업                814.95    813.18 -0.219971    3005128    65492398080
건설업                   98.35     97.07 -1.299805    8774306    99429163090
운수창고업               1856.85   1825.57 -1.679688   10700281   116903614715
통신업                  411.89    413.77  0.459961    3189508    79985390230
금융업                  361.11    355.66 -1.509766   27795303   559113658008
증권                  1695.77   1668.33 -1.620117    4806055    33741351474
보험                 13698.89  13601.19 -0.709961    2404154    47162006860
서비스업                1341.08   1323.62 -1.299805   38886254   720199640920
제조업                 6433.01   6354.54 -1.219727  309180673  4187797853212
코스피 대형주             2454.25   2424.87 -1.200195   60723810  3546856398567
코스피 중형주             2886.89   2853.15 -1.169922   49592378  1049024923658
코스피 소형주             2362.78   2326.34 -1.540039  304936553  1309136162961
코스피 200 비중상한 30%     326.20    322.19 -1.230469   93521614  4321199008536
코스피 200 비중상한 25%     323.85    319.90 -1.219727   93521614  4321199008536
코스피 200 비중상한 20%     316.55    312.74 -1.200195   93521614  4321199008536
코스피 200 TOP 10      1299.19   1283.54 -1.200195   14241649  1337520822989